body {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    background-image: url(./images/green\ gradient.jpeg);
    background-color: black;
    background-size: cover;
    margin: 0%;
}

.box1{
    background-color: rgb(255, 255, 255);
    opacity: .7;
    padding: 25px;
    margin: 25px;
}
