body {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8em;
    background-color: black;
    /*background: url(./images/gradient-bg.gif);
    background-color: black;
    background-size: cover;*/
    cursor: url(./images/cursor.png) 6.5 6.5, auto;
    margin: 0%;
    /*padding: 25px;*/
}

/* .custom-cursor {
    width: 32px;
    height: 32px;
    cursor: url(./images/cursor.png), auto;
} could be used for images or works??*/

h1, h2, h3, h4, p {
    color:rgb(255, 255, 255)
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
