body {
    background-color: #f3e9dc;
  }
h1 {
    color: #5e3023;
}
h3{
    color: #c08552;
}
p {
    color: #895737;
}
ul {
    color: #895737;
}
img {
    border-radius:20px;
  }

  * {
    box-sizing: border-box;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

img.one {
    height: 70%;
    width: 70%;
}
img.two {
    height: 93%;
    width: 93%;
} 